@import './style.scss';

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(42, 33, 33, 0.475);
    z-index: 3;
    top: 0;
    left: 0;
    overflow: auto;
    .modalcontent{
        font-size: 120%;
        margin: 5% 25% auto;
        border: 1px solid grey;
        background: #fefefe;
        background-image: url('../assets/icon/bg2.png');
        object-fit: fill;
        background-position: left;
        width: 50%;
        padding: 30px;
        border-radius: 10px;
       
        .close{
            font-size: 200%;
            float: right;
            margin-right: 10px;
            cursor: pointer;
        }
        form{
           
            width: 100%;
            padding: 0 20%;
            h2{
                text-align: center;
                font-size: 200%;
                color: $red;
                padding-bottom: 10px;
                border-bottom: 4px solid $red;
                margin-bottom: 30px;
            }
            .formadddata{
                padding: 50px 0;
                label{
                    display: block;
                    margin-bottom: 20px;
                    input{
                        width: 100%;
                        border: 1px solid #203e6766;
                        padding: 10px;
                        display: block;
                        border-radius: 5px;
                        opacity: 0.7;
                        &:focus{
                            outline: none;
                            border: 1px solid $blue;
                            box-shadow: 0 0 10px 0 rgba(40, 129, 154, 0.311);
                        }
                    }
                    p{
                        position: absolute;
                        transform: translate(10px, -150%);
                        background: #fff;
                        color: $blue;
                        transition: transform 0.2s;
                    }
                    input:focus + p, input:not(:placeholder-shown) + p {
                        font-size: 80%;
                        transform: translate(5px, -298%);
                        opacity: 1;
                        padding: 0 5px;
                        margin-left: 5px;
                    }
                }
                .btnsubmit{
                    width: 100%;
                    display: block;
                    padding: 12px;
                    background-color: $blue;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    &:hover{
                        box-shadow: 0 0 10px 0 rgba(26, 113, 160, 0.276);
                        cursor: pointer;
                    }
                    &:focus{
                        outline: none;
                    }
                    &:active{
                        position: relative;
                        top: 3px;
                        outline: none;
                    }
                }
                
            }
        }
    }
    
}
