@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$blue: #203d67;
$red: #d7385e;

a{
    text-decoration: none;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1440px;
    scroll-behavior: smooth;
}
.headIcon{
    display: inline;
    position: absolute;
    margin-left: 10%;
    padding: 1% 0;
    box-shadow: 0px 0 20px rgba(114, 148, 165, 0.434);;
    border-radius: 0 0 10px 10px;
    img{
        width: 130px;
        margin: 0 20px;
    }
    .briIcon{
        transform: translateY(-20%);
    }
}
.topLogin{
    background-image: url('../assets/icon/bg2.png');
    background-size: cover;
    height: 650px;
}
.loginPage{
    margin: 0 auto;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.loginIcon{
    width: 40%;
    text-align: center;
    img{
        width: 70%;
    }
}
.loginForm{
    background-image: url('../assets/icon/bg.png');
    background-position: 90% 30% ;
    width: 35%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 40px 0 rgba(128, 141, 160, 0.496);
    padding: 4%;
    background-color: #fafafa;
    border-radius: 15px;
    h3{
        text-align: center;
        position: relative;
        color: $blue;
        margin-block-start: 0;
        margin-bottom: 20px;
        font-size: 190%;
    }
    .inputField{
        width: 90%;
        font-size: 120%;
        border: 1px solid #13274348;
        border-radius: 8px;
        padding: 12px 0px;
        padding-left: 30px;
        margin-bottom: 0px;
        &:focus{
            outline: none;
            border: 1px solid $blue;
            box-shadow: 0 0 10px 0 #1327432e;
        }
    }
    .labelInput{
        color: $blue;
        opacity: 0.8;
        input{
            font-size: 130%;
            margin-bottom: 15px;
        }
        .fa-key{
            position: absolute;
            margin-top: 17px;
            margin-left: 12px;
        }
        .fa-user{
            position: absolute;
            margin-top: 17px;
            margin-left: 12px;
        }
    }
    a{
        text-align: center;
        width: 100%;
        padding:0;
    }
    .loginSubmit{
        padding: 12px 30%;
        background: $red;
        color: white;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        outline: none;
        width: 90%;
        float: left;
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 10px 0 rgba(191, 64, 64, 0.509);
        }
        &:active{
            position: relative;
            top: 2px;
        }
        a{
            color: white;
            &:active{
                outline: none;
            }
            &:focus{
                outline: none;

            }
        }
    } 
    p{
        text-align: center;
        margin-top: 15px;
        a{
            color: $red;
        }
    }
}
.info{
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 50px;
    padding: 10px;
    font-size: 120%;
    color: $blue;
}

footer{
    width: 100%;
    bottom: 0;
    background: $blue;
    color: white;
    padding: 3% 0;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.topNav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    line-height: 30px;
    color: $blue;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 2px 10px 0 rgba(211, 205, 205, 0.653);
    padding: 1% 6%;
    display: flex;
    justify-content: space-between;
    .naviconuser{
        width: 45px;
        height: 45px;
        position: absolute;
        top: 5px;
        left: 22px;
    }
    p{
        display: inline;
        font-size: 110%;
        #user, #role{
            font-size:130%;
            font-weight: 600;
        }
    }
    .logout{
        color: $red;
        opacity: 0.7;
        padding: 0 5px;
        padding-bottom: 15px;
        &:hover{
            opacity: 1;
            cursor: pointer;
            border-bottom: 4px solid $red;
        }
    }
}

.fa{
    margin-right: 8px;
}

.flex{
    display: flex;
}
.pbmsidepanel{
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: auto;
    margin-top: 4%;
    padding-top: 20px;
    background: #f1f1ffa1;
    box-shadow: 1px 0 0px 0 rgba(183, 170, 170, 0.482);
    color: $red;
    font-size: 110%;
    p{
        padding: 5px;
        border-bottom: 2px solid $red;
        margin: 0 8px;
    }
    a{
        color: inherit;
        &:focus{
            color: $red;
        }
    }
    div{
        padding: 20px 10px;
        margin: 1px;
        color: #d7385d48;
        &:hover{
            color: $red;
            cursor: pointer;
        }
        i{
            display: block;
            margin-bottom: 8px;
        }
    }
}

.mainpagebpba{
    margin: 0 1%;
    width: 85%;
    padding-top: 5.5%;
    
    h2{
        margin-top: 10px;
        color: $red;
        font-size: 220%;
        font-weight: 600;
    }
    p{
        padding-top: 5px;
        color: $blue;
        padding-left: 4%;
        transform: translateY(3px);
    }
    .pagetitle{
        display: flex;
        justify-content: space-between;
        padding: 0 3%;
        button{
            position: absolute;
            transform: translate(-10px, 25px);
            right: 3%;
            padding: 12px 20px;
            color: $blue;
            border: 1px solid $blue;
            border-radius: 25px;
            font-weight: 600;
            background: transparent;
            cursor: pointer;
            &:hover{
                background: $blue;
                color: white;
                box-shadow: 0 0 6px 0 rgba(96, 109, 116, 0.749);
            }
            &:active{
                transform: translate(-10px, 27px);
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.searchBar{
    display: block;
    border: 1px solid rgba(9, 48, 93, 0.188);
    width: 94%;
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(59, 101, 104, 0.153);
    padding: 1.5%;
    padding-right: 0;
    margin: 2% 3%;
    margin-top: 1%;
    
    input, select, button{
        font-size: 120%;
        padding: 9px 0px;
        padding-left: 10px;
        border: 1px solid rgba(128, 128, 128, 0.489);
        border-radius: 5px;
        margin-right: 10px;
        &:focus{
            outline: none;
        }
    }
    input{
        width: 70%;
        &:focus{
            border: 1px solid #203e67fc;
            box-shadow: 0 0 20px 0 #203e6725;
        }
    }
    select{
        background: #fff;
        display: inline;
        padding: 8px 10px;
        background-color: transparent;
        border: 1px solid rgba(128, 128, 128, 0.503);
        padding-right: 2em;
        outline: none;
        color: $blue;
    }
    select option{
        background: transparent;
        color: $blue;
        display: block;
        padding: 1em 0;
    }
    
    button{
        padding: 9px 10px;
        background: $blue;
        color: white;
        border: 1px solid $blue;
        margin-left: 5px;
        border-radius: 4px;
        cursor: pointer;
        &:active{
            position: relative;
            top: 2px;
        }
        &:hover{
            outline: none;
            box-shadow: 0 0 8px 0 rgba(77, 101, 126, 0.729);
        }
    }
    span{
        margin-right: 10px;
    }
    .inputreport{
        width: 50%;
    }
    .inputdate{
        width: 15%;
    }

}
.result{
    padding: 20px;
    .mainbox{
        display: inline-block;
        width: 47%;
        height: 120px;
        margin: 0 10px;
        margin-bottom: 50px;
    }
    .boxresult{
        width: 100%;
        padding: 20px 15px;
        background-color: #fcfcfc;
        border-radius: 5px;
        color: $blue;
        display: flex;
        justify-content: space-around;
        border: 1px solid rgba(72, 72, 72, 0.235);
        cursor: pointer;
        &:hover{
            position: relative;
            background: rgb(242, 247, 254);
            bottom: 4px;
            box-shadow: 2px 2px 10px 0 rgba(16, 57, 82, 0.215);
        }
        .boxaction{
            font-size: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            button{
                padding: 12px 15px;
            }
            .edit{
                background: $blue;
                border: 1px solid $blue;
                margin-bottom: 8px;
                &:hover{
                    box-shadow: 0 0 10px 0 rgba(46, 62, 87, 0.715);
                }
            }
            .delete{
                border: 1px solid $red;
                color: $red;
                background: transparent;
                &:hover{
                    background: $red;
                    color: white;
                }
            }
        }
        .detailpba{
            h3{
                font-size: 175%;
                font-weight: 600;
                margin-bottom: 8px;
            }
            
            p{
                .fa{
                    margin-right: 10px;
                }
                opacity: 0.7;
                font-size: 100%;
                font-weight: inherit;
                padding: 0;
                line-height: 2;
            }
        }
        .iconpba{
            img{
                padding: 3px;
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.434);
            }
            
        }
    }
}
.boxreport{
    color: $blue;
    margin: 3%;
    margin-top: 1%;
    border: 1px solid rgba(25, 49, 62, 0.318);
    border-radius: 10px;
    .report{
        width: 100%;
        padding: 0;
        margin: 0;
        height: auto;
        .boxresult{
            padding: 20px 50px;
            justify-content: space-between;
            .iconpbarep img{
                width: 80px;
                height: 80px;
                margin-right: 20px;
            }
            p{
                padding: 0;
                margin: 5px 0;
                opacity: 0.8;
            }
            h3{
                font-size: 170%;
                font-weight: 600;
            }
            .dataPA{
                display: flex;
                flex-direction: row;
            }
            .datarating a{
                color: inherit;
            }
        }
        .repdata{
            margin-bottom: 20px;
        }
    }
}

.inputform{
    .inputtext{
        display: inline;
        input{
            width: 30%;
            margin: 15px;
            padding: 12px 20px;
            padding-top: 15px;
        }
        p{
            position: absolute;
            display: inline;
            background: rgb(254, 254, 254);
            padding: 0 6px;
            transform: translate(25px, 8px);
        }
    }
    .date{
        input{
            padding-top: 12px;
            padding-bottom: 11px;
        }
        
    }
    .submitholiday{
        padding: 13px 20px;
    }
    .listholiday{
        display: none;
    }
}

.listholiday{
    padding: 0px;
    border: none;
    table{
        border-collapse: collapse;
        width: 100%;
        tr{
            background: rgba(234, 234, 234, 0.4);
            width: 100%;
            th{
                padding: 10px;       
                font-size: 130%;
                font-weight: 600;
                border-bottom: 1px solid $blue;
                background: $blue; 
                color: white;
            }
        }
        td{
            border: none;
            text-align: center;
            padding: 10px;
            font-size: 120%;
            border-bottom: 1px solid rgba(193, 193, 193, 0.626);
        }
       
        tr:nth-child(even) {
            background: rgba(218, 233, 249, 0.181);
            cursor: pointer;
        }
        tr:hover{
            cursor: pointer;
            background: #ededed;
        }
    }
    .buttonsch{
        button{
            padding: 8px 13px;
            margin-right: 10px;
            border: 1px solid $blue;
            border-radius: 5px;    
            &:hover{
                cursor: pointer;
                box-shadow: 0 0 4px 0 $red;
            }
            &:active{
                position: relative;
                top: 2px;
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }
        .edit{
            background: $blue;
            color: white;
            &:hover{
                box-shadow: 0 0 4px 0 $blue;
            }
        }
        .delete{
            color: $red;
            border: 1px solid $red;
            background: transparent;
            &:hover{
                background: $red;
                color: white;
            }
        }
    }

}
